<!--'base.html' ფაილი იქნება ყოველთვის ჩატვირთული და გვერდის შესაბამისი '.html' ფაილები ამ ფაილში ჩაიტვირთება-->
<!doctype html>
<html lang="en">
<head>
    <!--პირველ რიგში, უნდა ჩავამატოთ/ჩავტვირთოთ 'static' ფაილები რომ მისამართი გაეწეროს (როგორც მაგალითად '<link>')-->
    <!--ამ კოდის მეშვეობით ჩატვირთავს 'static'-ს-->
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--თუ რაიმე ფაილი გვაქვს შეგვიძლია მისი 'static'-ით შემოტანა, თუ ონლაინ არის მაშინ შეგვიძლია პირადპირ ლინკის დაწერა როგორც 'HTML'-ში.-->
    <!--აქ 'HTML' ფაილს მივაბით '.css' გაფართოების ფაილი-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block page_title %}{% endblock %}</title>
</head>
<body>
<!--'base.html' უნდა იყოს დანარჩენი '.html' გაფართოების ფაილების მშობელი-->
<!---რაც ყველა გვერდზე უნდა ჩანდეს იწერება 'base.html' ფაილში-->
{% block page_content %}{% endblock %}
<!--აქ ჩავტვირთეთ 'jquery' 'base.html' ფაილში რომ ყველა '.html' ფაილისთვის იყოს ხელმისაწვდომი.-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--'Script' ფაილს ყოველთვის ვაბავთ ბოლოში '<body>' თეგის დასრულებამდე - გადაბმა ხდება ანალოგიურად როგორც '.css' გაფართიების ფაილები-->
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>