<!--აქ ვუთითებთ, რომ ეს ფაილი არის 'base.html'-ის გაგრძელება-->
<!--ქვემოთ დაწერილი 'path'-ის ძებნა ხორციელდება 'templates' ფოლდერიდან.-->
{% extends 'TechStoreApp/base.html' %}
<!--'static' ფაილი აქაც დავაიმპრორტეთ, რადგან ეს ფაილი ამ '.html' ფაილსაც დაჭირდება-->
{% load static %}
<!--აქ გადმოვიტანეთ მივუთითეთ სათაური-->
{% block page_title %}TechStore{% endblock %}
<!--'base.html'-ის '<body>' თეგში დაწერილ 'page_content'-ს ვავსებთ აქ-->
<!--ქვემოთ შეტანილი მონაცემები ჩაიწერება 'base.html'-ის 'page_content'-ში.-->
{% block page_content %}
<!--'HTML'-ს ნაწილი-->
<ul>
    <li>Giorgi</li>
    <li>Django</li>
</ul>
<!--'JavaScript-Jquery'-ს ნაწილი-->
<input type="text" id="inp">
<input type="button" id="btn" value="Go">

<!--ღილაკზე დაჭერის შემდეგ მონაცემები გამოვა ქვემოთ დაწერილ '<div>' თეგებში.-->
<div id="container">
    <!--'field'-ში შეყვანილ მონაცემებს გამოიტანს ამ '<div>' თეგში-->
    {{username}}
    <!--გამოტანისას პაროლი რომ არ ამოჩნდეს / თუ პაროლი შეიცავს მნიშვნელობას, მაშინ:-->
    {% if password %}
    <!--თუ პაროლი შეიცავს რაღაც მნიშვნელობას დაიბეჭდება ქვემოთ დაწერილი ფიფქები-->
    *******
    {% endif %}
</div>

<form method="POST">
    <!--ასევე შესაძლებელია ფორმის '<input>' თეგების მეშვეობით შედგენა!-->
    <!--ეს დავწერეთ უსაფრთხოებისთვის - ჯანგოს აპლიკაცია ამით ცნობს რომ ეს არის თავისი ფორმა-->
    {% csrf_token %}
    <!--აქ ჩავსვით კოდის დონეზე აწყობილი ფორმა / '.as_p' რომ მივუწერეთ მაგის დახმარებით მონაცემებს ბრაუზერში გამოიტანს პრააგრაფებად-->
    {{form.as_p}}
    <!--უნდა იყოს 'submit' ტიპის რომ დასაბმიტდეს ამ ღილაკზე დაჭერის შემთხვევაში-->
    <input type="submit" value="Submit">
</form>
{% endblock %}